@import url("bootstrap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    font-family: "Gochi Hand", sans-serif;
}

body {
    background-color: #17a494;
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-auto-rows: 50px;
    gap: 5px;
}

.number,
.extracted,
.last {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.8rem;
    border: 1px solid black;
}

.number {
    background-color: white;
}

.extracted {
    background-color: #f68ea1;
}

.last {
    background-color: #8df691;
}

.min-width {
    min-width: 200px;
}

.font {
    font-size: 2rem;
    background-color: white;
    padding: 1rem;
    width: 80px;
    margin: 0 auto;
}